.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(10, 10, 10, 0.2);
  color: white;
  position: relative;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.menu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  outline: none;
}

.menu {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  right: -300px;
  /* 初期位置を画面の右外に設定 */
  transition: right 0.5s ease-in-out;
  background-color: rgba(3, 3, 3, 0.3);
  padding: 10px;
  border-radius: 5px;
}

.menu.open {
  right: 0;
  /* メニューを表示 */
}

.menu ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin: 0 10px;
}

.menu a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color 0.3s;
}

.menu a:hover {
  color: #f0a500;
}